/* The font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Shizuru&display=swap');


.div3PartParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* width: 90%; */
  }
  
.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
.div2 {
    grid-area: 1 / 2 / 2 / 4; 
    margin-left: 1rem;
}

.theInput{
  width: 100%;
  height: 2rem;
  background: #09002A;
  border: 2px solid #202022;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.descriptionInput{
  width: 90%;
  height: 20%;
  background: #09002A;
  border: 2px solid #281E4D;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.divColParent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.divColLeft {
  margin-top: 3rem;
  margin-left: 5rem;
  grid-area: 1 / 1 / 2 / 2; 
}
.divColRight {
  margin-top: 3rem;
  margin-left: 2rem;
  grid-area: 1 / 2 / 2 / 6; 
  width: 90%;
}

/* //todo modify the width */
.outputCol{
  width: 452px;
  column-width: 452px;
}

/* .outputImg{
  width: 452px;
  height: 452px;
  filter: drop-shadow(4px 4px 10px rgba(139, 111, 255, 0.25));
  border-radius: 10px;
  -webkit-filter:;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
} */


.styleImg {
  margin: 1rem;
  height: 380px;
  width: 380px;
}

.listOnBazaar {
  width: 212.63px;
  height: 63.34px;
  /* left: 200px;
  top: 720px; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  /* margin-left: 2.5rem;
  margin-right: 2.5rem; */
  

  border-width: thick;
  border-color: #FDBD6D;

  background: linear-gradient(178.47deg, #6C10A6 25.94%, #7405BA 44.19%, #B867EB 93%);
  box-shadow: inset -2px -2px 4px rgba(20, 14, 56, 0.5), inset 2px 2px 4px rgba(20, 14, 56, 0.5);

  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;

  font-family: 'Acme', sans-serif;
  font-size: 24px;
  line-height: 33px;
}

.upload_reminder {
  /* position: absolute; */
  width: 380px;
  height: 18px;
  margin-bottom: 2rem;

  font-family: Apple LiGothic;
  font-style: normal;
  font-weight:800;
  font-size: 15px;
  line-height: 18px;

  color: #52266F;
}

.textUnderStyle {
  width: 380px;
  height: 18px;
  margin-bottom: 2rem;

  font-family: Apple LiGothic;
  font-style: normal;
  font-weight:800;
  font-size: 15px;
  line-height: 20px;
  /* //todo */

  color: white;
}

.selectBox {
  width: 300px;
  height: 300px;
  
  background: #09002A;
  border: 3px solid #281E4D;
  box-sizing: border-box;
  border-radius: 15px;
}

.description {
  /* position: absolute; */
  /* left: 121px;
  top: 306px; */
  font-size:100px;

  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.tags {
  /* margin: 0rem; */
  width: 100%;
  height: 10%;
  background: #09002A;
  border: 3px solid #281E4D;
  box-sizing: border-box;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.createNow {
  /* position: absolute; */
  width: 212.63px;
  height: 63.34px;
  /* left: 200px;
  top: 720px; */
  margin-top: 3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  
  border-width: thick;
  border-color: #FDBD6D;

  background: linear-gradient(178.47deg, #6C10A6 25.94%, #7405BA 44.19%, #B867EB 93%);
  box-shadow: inset -2px -2px 4px rgba(20, 14, 56, 0.5), inset 2px 2px 4px rgba(20, 14, 56, 0.5);

  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;

  font-family: 'Acme', sans-serif;
  font-size: 24px;
  line-height: 33px;
} 

.reselect {
  /* position: absolute; */
  width: 176px;
  height: 52px;
  /* left: 200px;
  top: 720px; */
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 2.5rem;
  
  border: 2px solid #B153F0;
  border-radius: 13px;

  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;

  font-family: 'Acme', sans-serif;
  font-size: 24px;
  line-height: 33px;
}  

.twoDesigner {
  
  position: absolute;
  width: 901px;
  height: 754px;
  left: 1440px;
  top: 221px;

  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.74));
  transform: matrix(-1, 0, 0, 1, 0, 0);
}










/* The following is the default setting */



.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #FFFFFF;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
